%wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;

  @include for-tablet {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include for-mobile {
    padding-left: 24px;
    padding-right: 24px;
  }
}

%form-field {
  @extend %p-base;

  font-family: $f-montserrat;
  width: 100%;
  background-color: rgba($grey, 0.3);
  border: 1px solid transparent;
  padding: 0 20px;
  color: $white;
  height: 56px;
  border-radius: 4px;
  transition: all 0.3s linear;
  outline: none;

  @include placeholder(rgba($white, 0.3));

  &:focus {
    border-color: rgba($white, 0.5);
  }
}

%form-field-is-invalid {
  border-color: $primary;

  &:focus {
    border-color: rgba($primary, 0.7);
  }
}

%error {
  display: block;
  font-size: 12px;
  line-height: 1.3;
  color: $primary;
  margin-top: 3px;
}
